/* VARIABLES */
$main-font: Helvetica, sans-serif;
$main-color: #008dd5;
$secondary-color: #373f51;
$link-color: #e43f6f;
$dark-color: #333;


html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

/* HEADERS */
h1 {
	color: $main-color;
}

h2 {
	color: $secondary-color;
}

h3 {
	color: $link-color;
}

/* LINKS */
a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $dark-color;
}


.hiddenCoords {
	display: none;
}

#place_coords {
	display: none;
}

/* MAPS */
#map {
	height: 500px;
	width: 762px;
}

@media (min-width: 768px) {
.navbar {
	border-radius: 0px;
}
}

#travelist_form, .list-wrapper {
	padding: 10px;
}

.visitedStatus {
  background-color: #888;
}

.place_visited {
	&:hover {
		cursor: pointer;
		.visitedStatus {
			background-color: #5cb85c;
			span {
				display: none;
			}
			&:after {
				content: 'VISIT';
				display: inline-block;
				width: 50px;
			}
		}
		.visitedStatus.seen {
			background-color: #d9534f;
			span {
				display: none;
			}
			&:after {
				content: 'UNVISIT';
				display: inline-block;
				width: 50px;
			}
		}
	}
	.visitedStatus span {
		position: relative;
		display: inline-block;
		width: 50px;
	}
}

.add-place {
	cursor: pointer;
}

.seen {
	background-color: #5cb85c;
}
.editTravelist {
	cursor: pointer;
	&:hover {
		background-color: #286090;
	}
}
.panel.editable {
	.deleteList {
		display: none;
	}
	.travelistTitle {
	    color: #337ab7;
	    background-color: #ffffff;
	    padding: 5px 10px;
	    border-radius: 1px;
        display: block;
        cursor: text;
        text-decoration: none;
        &:hover, &:visited, &:active {
        	text-decoration: none;
        }
	}
	.panel-body {
		color: #337ab7;
		cursor: text;
	}
}

/* HOME PAGE */
.jumbotron {
	background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: white;
    text-align: center;
    p {
    	color: white;
    	text-align: right;
    }
}

.logo {
	height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
	font-size: 25px;
}

#appcontain {
	margin-bottom: 30px;
}

