/* VARIABLES */
$main-font: Helvetica, sans-serif;
$main-color: #3ea200;
$secondary-color: #777;
$link-color: #328300;
$dark-color: #333;


html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

/* HEADERS */
h1 {
	color: $main-color;
}

h2, h3 {
	color: $secondary-color;
}

/* LINKS */
a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $dark-color;
}


.hiddenCoords {
	display: none;
}

#place_coords {
	display: none;
}

/* MAPS */
#map {
	height: 500px;
	width: 762px;
}

@media (min-width: 768px) {
.navbar {
	border-radius: 0px;
}
}

#travelist_form, .list-wrapper {
	padding: 10px;
}

.visitedStatus {
  background-color: #888;
}

.desc {
	display: none;
}

.place_visited {
	&:hover {
		cursor: pointer;
		.visitedStatus {
			background-color: #5cb85c;
			span {
				display: none;
			}
			&:after {
				content: 'VISIT';
				display: inline-block;
				width: 50px;
			}
		}
		.visitedStatus.seen {
			background-color: #d9534f;
			span {
				display: none;
			}
			&:after {
				content: 'UNVISIT';
				display: inline-block;
				width: 50px;
			}
		}
	}
	.visitedStatus span {
		position: relative;
		display: inline-block;
		width: 50px;
	}
}

.add-place {
	cursor: pointer;
}

.seen {
	background-color: #5cb85c;
}
.editTravelist {
	color: $link-color;
	&:hover {
		background-color: #ffffff;
	}
}
.cancelEdits {
	display: none;
}

#travelistList {
	.label {
		padding: 5px;
		cursor: pointer;
	}
	.label:hover {
	   	background-color: #eaeaea;
	}
	.panel {
	    border: 1px solid $main-color;
	}
	.panel-heading {
		border-bottom: 1px solid $main-color;
	}
	h2 a {
		color: $link-color;
	}
}

#travelistList .panel.editable {
	.deleteList {
		display: none;
	}
	.panel-heading {
		
	}
	.travelistTitle {
        cursor: text;
        text-decoration: none;
        &:hover, &:visited, &:active {
        	text-decoration: none;
        }
	}
	h2 a {
		color: #444;
		background-color: #f0f0f0;
		padding: 5px 15px;
	}
	.panel-body {
		cursor: text;
		background-color: #f0f0f0;
	}
	.editTravelist, .cancelEdits {
		background-color: $link-color;
		color: white;
		display: block;
	}
	.cancelEdits {
		margin-left: 10px;
	}
}


/* HOME PAGE */
.jumbotron {
	background-image: url(/images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: white;
    text-align: center;
    p {
    	color: white;
    	text-align: right;
    }
}

.logo {
	height: 30px;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
}

.navbar-brand {
	font-family: 'Satisfy', cursive;
	font-size: 25px;
}

#appcontain {
	margin-bottom: 30px;
}

