<h1>All Places</h1>
 <%= link_to 'Add a new Place', new_place_path %>
<table>
  <tr>
    <th>Place</th>
    <th>Description</th>
    <th>Visited?</th>
  </tr>
 
  <% @places.each do |place| %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.description %></td>
      <td><%= place.visited %></td>
    </tr>
  <% end %>
</table>