<!DOCTYPE html>
<html>
  <head>
    <title>Travellist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="appcontain">
    <%= yield %>
  </div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJB_lUYjfjoUK7nXENxrJFz7FsjU8CSvc&libraries=places&callback=travelMaps.init">
    </script>
    
  </body>
</html>
